@import "../node_modules/flexiblegs-stylus/flexiblegs-stylus"

millennial = #0399e7
notWhite = #FAFAFA
notBlack = #333333
headingFontSize = 20px
paragraphFontSize = 16px

vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

animation()
	vendor("animation", arguments)

border-radius()
	vendor("border-radius", arguments)

box-shadow()
	vendor("box-shadow", arguments)

text-shadow()
	vendor("text-shadow", arguments)

transition()
	vendor("transition", arguments)

transform()
	vendor("transform", arguments)

transform-origin()
	vendor("transform-origin", arguments)

user-select()
	vendor("user-select", arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
		
body
	wrap()
	wrap("normal")
	wrap("top")
	background-color white
	font-family "Open Sans", sans-serif
	height 100%
	margin 0
	padding 0
	width 100%
	
html
	height 100%
	width 100%

.content-full-area
	col()
	col(1,1)
	background notWhite
	height 100%

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
		height auto
		min-height 100%

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
		height auto
		min-height 100%

	h2
		color millennial
		font-size 1.5*headingFontSize
		font-weight 600
		padding 0.5*paragraphFontSize paragraphFontSize
		position relative
		text-align center
		text-transform uppercase

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			font-size 1.25*headingFontSize

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			font-size 1.25*paragraphFontSize

		&:after
			background millennial
			border-radius(4px)
			content "-"
			display block
			font-size 0
			margin 10px auto 0
			height 4px
			width 100px

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
				height 2px

.cover
	padding 4*headingFontSize 8*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
		padding 2*headingFontSize 2*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
		padding 2*paragraphFontSize 2*paragraphFontSize

	&__box-content
		background white
		border-bottom 5px solid millennial
		box-shadow(5px 5px 20px rgba(black,15%))
		padding 2*headingFontSize 3*headingFontSize

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			background none
			border-bottom none
			box-shadow(none)
			padding 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			background none
			border-bottom none
			box-shadow(none)
			padding paragraphFontSize

		p
			line-height 1.65em

.education
	height auto
	min-height 100%
	padding 2*headingFontSize 8*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
		padding headingFontSize 2*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
		padding headingFontSize 2.5*headingFontSize

	&__timeline
		list-style none
		margin 0
		padding 0
	
	li
		border-bottom 1px dotted darken(notWhite, 20%)
		margin 0.5em 0
		padding 0.5em 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			border-bottom-color darken(notWhite, 50%)

		.date
			color lighten(notBlack, 50%)
			font-style italic
			margin-left 1em

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
				color notBlack
				display block
				font-size 0.9*paragraphFontSize
				font-style normal
				margin-left 0

		.title
			font-weight bold

	.detail-links
		text-align center 

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			text-align left
		
		a
			background white
			box-shadow(5px 5px 20px rgba(black, 5%))
			color notBlack
			cursor pointer
			display inline-block
			line-height 2em
			margin 0.25em
			padding 0 1em
			text-decoration none !important
			transition 0.2s ease-in-out

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
				background none
				box-shadow(none)
				display block
				line-height 1.5em

				&:before
					content "→ "

			&:hover
				background millennial
				color notWhite

			&:last-child:after
				content ""

.intro
	col()
	col(1,1)
	background-color notWhite
	height 100%
	padding 2*headingFontSize 5*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
		//background-linear-gradient(top, transparent, 0%, rgba(notBlack, 0.25), 190%)
		padding headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
		padding headingFontSize 1.5*headingFontSize
		
	h1, h2
		color black
		font-weight 400
		line-height 1.5em
		margin 2*headingFontSize 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			margin 1.5*headingFontSize 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			margin headingFontSize 0
		
	h1
		font-size 1.75*headingFontSize
		padding-right 40%

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			font-size headingFontSize
			padding-right 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			font-size 0.9*headingFontSize

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
			padding-right 0

		strong
			font-weight 800
		
	h2
		font-size 1.75*headingFontSize

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			font-size headingFontSize

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			font-size headingFontSize
		
	&__contact-btn
		background millennial
		border-radius(2em)
		box-shadow(8px 8px 40px rgba(millennial,0.5))
		color white
		cursor pointer
		display inline-block
		font-size 1.25*paragraphFontSize
		margin 1em auto
		padding 0.75em 2em
		transition 0.2s ease-in-out
		text-decoration none

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			border-radius(1.5em)
			font-size 1.25*paragraphFontSize
			margin 0 auto 1em
			padding 0.25em 1em
			width 250px

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			font-size paragraphFontSize

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
			font-size 1.35*paragraphFontSize
		
		&:hover
			background lighten(millennial, 30%)
			color white

	&__download-cv-btn
		color black
		cursor pointer
		display block
		font-size 1.1*paragraphFontSize
		margin 1em auto
		padding-right 40% 
		text-decoration none

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			font-size headingFontSize

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			font-size paragraphFontSize

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
			font-size 1.5*paragraphFontSize

		i
			transition 0.2s ease-in-out
			vertical-align middle

		.sup
			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
				display block
				font-size 0.75em
				line-height 1em

		&:hover
			i
				margin-left 0.5*paragraphFontSize
	
	&__photo
		background url("/img/me-red.png") right bottom no-repeat
		background-size contain
		border-radius(100%)
		bottom 5%
		box-shadow(0px 10px 10px rgba(black,0.15))
		filter opacity(85%)
		height 300px
		right 5%
		position absolute
		width 300px

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			border-radius(0)
			bottom 0
			box-shadow(none)
			filter none
			height 280px
			right 0
			width 280px

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			height 250px
			right 20px
			width 250px

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
			height 350px
			width 350px

	&__social
		right headingFontSize
		position absolute
		top headingFontSize
		width 100%

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			top 0
			right 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			top 0
			right 0
		
		ul
			list-style none
			margin 0
			padding 0
			text-align right
			
			li
				display inline-block
				font-size 1.5*headingFontSize
				padding 0.25em 0.5em

				@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
					font-size 2*paragraphFontSize
					padding 0.25em
				
				a
					color notBlack
					transition 0.2s ease-in-out
					text-decoration none
					
					&:hover
						color millennial

.skills
	padding 4*headingFontSize
	text-align center

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
		padding headingFontSize 2*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
		padding headingFontSize 2*headingFontSize

	&__list
		color notBlack
		list-style none
		margin 0
		padding 0
		
		li
			background white
			box-shadow(5px 5px 20px rgba(black, 5%))
			display inline-block
			margin 1em 0.5em
			padding 0.5em 1em

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
				font-size 0.75*headingFontSize
				margin 0.25em
				padding 0.35em

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
				font-size paragraphFontSize
				margin 0.25em
				padding 0.35em

			span
				border-right 3px solid white
				margin 0 0.5em 0 0
				padding 0 0.5em 0 0

	&__list-languages
		margin 2*headingFontSize 0 0 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			display none

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			display none

		li
			margin 0 paragraphFontSize
			padding paragraphFontSize

.work-experience
	height auto
	min-height 100%
	padding 4*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
		padding headingFontSize 2*headingFontSize

	@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
		padding headingFontSize 2.5*headingFontSize

	&__timeline
		color notBlack
		list-style none
		margin headingFontSize 0
		padding 0 4*headingFontSize

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
			padding 0

		@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
			padding 0

		li
			border-bottom 1px dotted darken(notWhite, 20%)
			display block
			margin 2em 0
			position relative

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
				border-bottom-color darken(notWhite, 50%)

			@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape)
				margin 1em 0

			.date
				color lighten(notBlack, 50%)
				font-style italic
				position absolute
				right 0
				top 0

				@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait)
					display block
					font-size 0.9*paragraphFontSize
					font-style normal
					position relative

			.position
				font-weight 600
			
			.company
				display block
				font-weight 700
				line-height 1.75em