.skills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1.58rem 0;
  justify-content: space-between;
}

.skills > li {
  background: var(--color-secondary); 
  border-radius: 3px;
  color: var(--color-secondary-foreground);
  display: inline-block;
  line-height: 1.85em;
  margin: 0em 0.5em 0.69em 0;
  padding: 0 0.75em;
}
